In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Problem Statement:

1. Pokémon is a group of adorable creatures peacefully colonizing a planet until
humans come along and make them combat each other in order to get shiny
badges and we can call them Pokémon masters.

2. In this universe, there exists a group of rare and often strong Pokémon,
known as Legendary Pokémon. Unfortunately, there are no detailed criteria
that define these Pokémon.

3. The only way to recognize a Legendary Pokémon is through information from
official media, such as the game or anime.

4. This data set includes 721 Pokemon, including their number, name, first and
second type, and basic stats: HP, Attack, Defense, Special Attack, Special
Defense, and Speed. The legend of a pokemon cannot be suspected only by
its Attack and Defense. It would be worth finding which variables can define
the legend of a pokemon. The strategy is to analyze the data and perform a
predictive task of classification to predict the legend of a pokemon using a
decision tree algorithm

Data Description:
           Column Names                       Description
ID                               ID of each Pokemon
Name                             Name of each Pokemon
Type 1                           Each Pokemon has a type, determines weakness/resistance to attacks
Type 2                           Some Pokemon are dual type and have 2
Total                            sum of all stats that come after this, a
                                    general guide to how strong a Pokemon is
HP                               hit points, or health, defines how much damage a 
                                    Pokemon can withstand  before fainting
    
Attack                           the base modifier for normal attacks (eg. Scratch, Punch)
Defense                          the base damage resistance against normal attacks
SP Atk                           special attack, the base modifier for special attacks                                                                            (e.g. fire blast, bubble beam)
                                                
SP Def                           the base damage resistance against special attacks
Speed                            determines which Pokemon attacks first each round
Generation                       type of generation of the Pokemon
Legendary                        Rare Pokemon

In [2]:
pokemon=pd.read_csv("D:\Assignment (NUmpy,Visualisation, MOdels)\Pokemon.csv",skipinitialspace=True,na_values="?",encoding="latin-1")

In [3]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
pokemon=pokemon.rename({"#":"ID"},axis=1)

In [5]:
pokemon.head()

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
pokemon.isnull().sum()

ID              0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [7]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [8]:
pokemon["Type 2"]=pokemon["Type 2"].fillna(pokemon["Type 2"].mode()[0])

In [9]:
pokemon.isnull().sum()

ID            0
Name          0
Type 1        0
Type 2        0
Total         0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

1. How many pokemon are from the 5th generation?
a. 178
b. 165           # answer
c. 150
d. 170

In [10]:
pokemon["Generation"].head()

0    1
1    1
2    1
3    1
4    1
Name: Generation, dtype: int64

In [11]:
(pokemon[pokemon["Generation"]==5]).shape

(165, 13)

In [12]:
#Answer--->b. 165

2. How many pokemon have the highest defense score?
a. 10
b. 7
c. 3        # answer
d. 2

In [13]:
pokemon["Defense"].sort_values(ascending=False).head()

230    230
224    230
333    230
223    200
414    200
Name: Defense, dtype: int64

In [14]:
#Answer---->c.  3

3. How you will be handling missing values in this dataset:

a. Fill up the null values with the median.
b. Fill up the null values with standard deviation.
c. Fill up the null values with the mean.
d. Fill up the null values with None.                  # LMS Answer

In [15]:
#ANswer--->c. Fill up the null values with the mean
# Dont Know as type2 column is filled by mode (dtype="Object")         but here no any option

4. Which columns are not having any kind of relationship with the generation column?
a. Attack
b. Speed
c. Both of the Above           
d. None of the Above

In [16]:
pokemon.corr()["Generation"]

ID            0.982516
Total         0.048384
HP            0.058683
Attack        0.051451
Defense       0.042419
Sp. Atk       0.036437
Sp. Def       0.028486
Speed        -0.023121
Generation    1.000000
Legendary     0.079794
Name: Generation, dtype: float64

In [17]:
#Ansswer----> C. both of the above           
# leaving the ID column rest has corelation of <5% dont know what to do  ??

5. Which of the following model is the best fit for predicting the legendary of the
pokemon based on the below parameters:
1. Handle the missing values.
2. Split the dataset into a 70:30 ratio with random_state as 1.
a. Linear Regression
b. Logistic Regression
c. Decision Tree Model
d. Random Forest Model            #

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [19]:
pokemon=pd.read_csv("D:\Assignment (NUmpy,Visualisation, MOdels)\Pokemon.csv",skipinitialspace=True,na_values="?",encoding="latin-1") 
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [20]:
pokemon.drop("#",axis=1,inplace=True)

In [21]:
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [22]:
pokemon.isnull().sum()

Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [23]:
pokemon["Type 2"]=pokemon["Type 2"].fillna(pokemon["Type 2"].mode()[0])

In [24]:
pokemon.isnull().sum()

Name          0
Type 1        0
Type 2        0
Total         0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

In [25]:
X=pd.get_dummies(pokemon.iloc[:,2:-1])
Y=pokemon.iloc[:,-1]

In [26]:
print(X)

     Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  \
0      318  45      49       49       65       65     45           1
1      405  60      62       63       80       80     60           1
2      525  80      82       83      100      100     80           1
3      625  80     100      123      122      120     80           1
4      309  39      52       43       60       50     65           1
..     ...  ..     ...      ...      ...      ...    ...         ...
795    600  50     100      150      100      150     50           6
796    700  50     160      110      160      110    110           6
797    600  80     110       60      150      130     70           6
798    680  80     160       60      170      130     80           6
799    600  80     110      120      130       90     70           6

     Type 2_Bug  Type 2_Dark  ...  Type 2_Ghost  Type 2_Grass  Type 2_Ground  \
0             0            0  ...             0             0              0
1             0            0  ...             0             0              0
2             0            0  ...             0             0              0
3             0            0  ...             0             0              0
4             0            0  ...             0             0              0
..          ...          ...  ...           ...           ...            ...
795           0            0  ...             0             0              0
796           0            0  ...             0             0              0
797           0            0  ...             1             0              0
798           0            1  ...             0             0              0
799           0            0  ...             0             0              0

     Type 2_Ice  Type 2_Normal  Type 2_Poison  Type 2_Psychic  Type 2_Rock  \
0             0              0              1               0            0
1             0              0              1               0            0
2             0              0              1               0            0
3             0              0              1               0            0
4             0              0              0               0            0
..          ...            ...            ...             ...          ...
795           0              0              0               0            0
796           0              0              0               0            0
797           0              0              0               0            0
798           0              0              0               0            0
799           0              0              0               0            0

     Type 2_Steel  Type 2_Water
0               0             0
1               0             0
2               0             0
3               0             0
4               0             0
..            ...           ...
795             0             0
796             0             0
797             0             0
798             0             0
799             0             1

[800 rows x 26 columns]

In [27]:
print(Y)

0      False
1      False
2      False
3      False
4      False
       ...
795     True
796     True
797     True
798     True
799     True
Name: Legendary, Length: 800, dtype: bool

In [28]:
scaler=StandardScaler()
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,random_state=1,test_size=0.3)

In [29]:
x_train=scaler.fit_transform(xtrain)
x_test=scaler.transform(xtest)

In [30]:
x_train=pd.DataFrame(x_train,columns=xtrain.columns)
x_test=pd.DataFrame(x_test,columns=xtrain.columns)

In [31]:
x_train

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Type 2_Bug,Type 2_Dark,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,-0.927124,-1.718850,-1.364020,-0.147847,0.698619,-0.612343,-0.804933,-1.415840,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,5.487359,-0.14155
1,0.321368,-0.567283,1.558017,1.288448,-0.686199,-0.790294,0.239143,-1.415840,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
2,-1.925918,-0.951139,-1.671603,-0.786200,-1.455542,-1.680051,-1.152959,-1.415840,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,4.725816,-0.206955,-0.127804,-0.182237,-0.14155
3,1.195312,0.814596,1.527259,0.490506,-0.009177,0.633316,1.387627,1.042673,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
4,-1.018680,-0.759211,-0.441272,-0.339353,-0.870841,-0.861475,-0.874538,-0.801212,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,1.361778,1.160066,-0.072172,0.075576,1.714152,1.985746,0.761181,1.042673,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,4.831959,-0.127804,-0.182237,-0.14155
556,0.704239,0.469126,1.281193,1.416118,-0.101498,-0.469982,0.099933,1.657301,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
557,-1.093590,0.008500,0.020103,-0.786200,-1.147805,-1.324148,-1.152959,-1.415840,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
558,0.529450,0.776210,1.558017,0.011741,0.083144,0.099462,-0.456908,-0.801212,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
559,-1.359935,-0.912753,-0.687338,-1.105377,-0.993936,-1.146197,-0.630920,-1.415840,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155

In [32]:
x_test

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Type 2_Bug,Type 2_Dark,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,1.644769,0.315584,0.758302,0.107494,2.668137,1.523072,1.109207,-1.415840,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
1,0.479510,0.776210,0.389202,0.011741,0.606297,0.455365,-0.282895,0.428045,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,7.824463,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
2,-1.842685,-1.334994,-1.025679,-1.296883,-1.147805,-0.968246,-1.674997,-0.801212,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
3,-0.560900,-0.298585,-0.902646,-0.530859,0.021597,-0.647933,0.134736,1.657301,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,16.703293,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
4,0.362984,0.200427,0.789060,0.011741,1.006356,0.099462,-0.804933,-0.801212,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,-0.760659,0.392355,0.173894,0.650094,-1.301674,-1.502099,-1.500984,-1.415840,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,7.824463,-0.182237,-0.14155
236,0.487833,0.392355,1.250434,1.767212,-0.532331,-0.256441,-0.804933,-1.415840,-0.073389,-0.1659,...,-0.14155,-0.176939,4.831959,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
237,1.361778,-0.759211,3.095932,-1.743730,3.314385,-1.858002,2.849334,-0.186584,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
238,-1.010357,0.008500,0.327686,-0.945789,-1.763280,-0.968246,-0.630920,1.042673,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,-0.127804,-0.182237,-0.14155
239,0.321368,0.008500,0.481477,1.607624,-0.224593,0.099462,-0.804933,1.042673,-0.073389,-0.1659,...,-0.14155,-0.176939,-0.206955,-0.127804,-0.059868,-0.211604,-0.206955,7.824463,-0.182237,-0.14155

In [33]:
#Model generation ----> Linear model--> Logistic Regresssion
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,ytrain)

LogisticRegression()

In [34]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(ytrain,lr.predict(x_train))

0.9589285714285715

In [35]:
accuracy_score(ytest,lr.predict(x_test))

0.9291666666666667

In [36]:
confusion_matrix(ytest,lr.predict(x_test))

array([[213,   6],
       [ 11,  10]], dtype=int64)

In [37]:
print(classification_report(ytest,lr.predict(x_test)))

              precision    recall  f1-score   support

       False       0.95      0.97      0.96       219
        True       0.62      0.48      0.54        21

    accuracy                           0.93       240
   macro avg       0.79      0.72      0.75       240
weighted avg       0.92      0.93      0.92       240

In [38]:
lr_acc=accuracy_score(lr.predict(x_test),ytest)
lr_con=confusion_matrix(ytest,lr.predict(x_test))
lr_cla=classification_report(ytest,lr.predict(x_test))

In [39]:
#Model---> Decision Tree clssifier
from sklearn.tree import DecisionTreeClassifier

In [40]:
dt=DecisionTreeClassifier()
dt.fit(x_train,ytrain)

DecisionTreeClassifier()

In [41]:
accuracy_score(ytrain,dt.predict(x_train))

1.0

In [42]:
accuracy_score(ytest,dt.predict(x_test))

0.925

In [43]:
print(classification_report(ytest,dt.predict(x_test)))

              precision    recall  f1-score   support

       False       0.96      0.96      0.96       219
        True       0.57      0.57      0.57        21

    accuracy                           0.93       240
   macro avg       0.77      0.77      0.77       240
weighted avg       0.93      0.93      0.93       240

In [44]:
confusion_matrix(ytest,dt.predict(x_test))

array([[210,   9],
       [  9,  12]], dtype=int64)

In [45]:
dt_acc=accuracy_score(ytest,dt.predict(x_test))
dt_conf=confusion_matrix(ytest,dt.predict(x_test))
dt_cla=classification_report(ytest,dt.predict(x_test))

In [46]:
#model ----> RandomForestClassifier as this is the classification Report
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()

In [47]:
rf.fit(x_train,ytrain)

RandomForestClassifier()

In [48]:
accuracy_score(ytrain,rf.predict(x_train))

1.0

In [49]:
accuracy_score(ytest,rf.predict(x_test))

0.9333333333333333

In [50]:
confusion_matrix(ytest,rf.predict(x_test))

array([[213,   6],
       [ 10,  11]], dtype=int64)

In [51]:
print(classification_report(ytest,rf.predict(x_test)))

              precision    recall  f1-score   support

       False       0.96      0.97      0.96       219
        True       0.65      0.52      0.58        21

    accuracy                           0.93       240
   macro avg       0.80      0.75      0.77       240
weighted avg       0.93      0.93      0.93       240

In [52]:
rf_acc=accuracy_score(ytest,rf.predict(x_test))
rf_cla=classification_report(ytest,rf.predict(x_test))
rf_con=confusion_matrix(ytest,rf.predict(x_test))

In [53]:
print(rf_acc,dt_acc,lr_acc)
print(rf_cla,dt_cla,lr_cla)
print(rf_con,dt_conf,lr_con)

0.9333333333333333 0.925 0.9291666666666667
              precision    recall  f1-score   support

       False       0.96      0.97      0.96       219
        True       0.65      0.52      0.58        21

    accuracy                           0.93       240
   macro avg       0.80      0.75      0.77       240
weighted avg       0.93      0.93      0.93       240
               precision    recall  f1-score   support

       False       0.96      0.96      0.96       219
        True       0.57      0.57      0.57        21

    accuracy                           0.93       240
   macro avg       0.77      0.77      0.77       240
weighted avg       0.93      0.93      0.93       240
               precision    recall  f1-score   support

       False       0.95      0.97      0.96       219
        True       0.62      0.48      0.54        21

    accuracy                           0.93       240
   macro avg       0.79      0.72      0.75       240
weighted avg       0.92      0.93      0.92       240

[[213   6]
 [ 10  11]] [[210   9]
 [  9  12]] [[213   6]
 [ 11  10]]

6. What is the precision of the Decision Tree model when the target is False?
a. 0.90 to 0.1                #answer
b. 0.80 to 0.90
c. 1.0 to 2.0
d. 0.50 to 0.60

In [54]:
print(dt_cla)     # decsion Tree classification matrix

              precision    recall  f1-score   support

       False       0.96      0.96      0.96       219
        True       0.57      0.57      0.57        21

    accuracy                           0.93       240
   macro avg       0.77      0.77      0.77       240
weighted avg       0.93      0.93      0.93       240

In [55]:
#Answer-->a. 0.90 to 0.1--->   0 .96


208/(11+208)                # approx 95%

0.9497716894977168

7. What is the sensitivity of the above model when the target is True?
a. 0.90 to 1.0          
b. 0.50 to 0.60       
c. 0.60 to 0.70
d. 0.30 to 0.40

In [56]:
#sensitivity a.k.a Recall
#answer--->b   0.50 to 0.60 ----> TP/(TP+FP)=12/(12+9)=.57

8. How much correctly classified data has been retrieved from the above model?           
a. Between 15 to 20          ##answer
b. Between 7 to 10
c. Between 30 to 45
d. Between 50 to 70

In [57]:
dt_conf      # Decesion Tree Confusion matrix

array([[210,   9],
       [  9,  12]], dtype=int64)

In [58]:
#Answer--->a. Between 15 to 20--->9+9=18

9. Decision tree models might create some biased trees if some classes dominate.
From the below options which action is best to take so that it won't create biased trees:

a. balance the dataset prior to fitting
b. imbalance the dataset prior to fitting
c. balance the dataset after fitting
d. None of the above

In [59]:
#answer--->a. balance the dataset prior to fitting

10.Suppose, you have to work with an ML problem, where you have to predict
the number of oxygen tanks needed to be shipped from Indonesia. Which
of the following ML algorithm you will choose:
a. Logistic regression
b. Decision Tree
c. Both of the above
d. None of the above

In [60]:
#answer--->b--------->Decision Tree

11.Which of the following is true for the Decision Tree?
a. The model can able to generate understandable rules
b. The model can able to handle both continuous and categorical variables
c. It can able to perform classification without requiring much computation
d. All of the above

In [61]:
#Answer--> d.   All of the Above

12.The total gain is computed by adding the expected value of each
outcome and deducting the costs associated with the decision.
a. True
b. False

In [62]:
#Answer---> a.--> True


13.How we can avoid the overfitting in Decision Tree
a. Stopping the Tree Growth
b. Pruning the Full Grown Tree
c. Both of above
d. None of the Above

In [63]:
#Answer--->c. Both of above

5. Which of the following model is the best fit for predicting the legendary of the
pokemon based on the below parameters:
1. Handle the missing values.
2. Split the dataset into a 70:30 ratio with random_state as 1.
a. Linear Regression
b. Logistic Regression
c. Decision Tree Model
d. Random Forest Model

# This i have done without doing anything other then missing values.

In [65]:
pokemon=pd.read_csv("D:\Assignment (NUmpy,Visualisation, MOdels)\Pokemon.csv",skipinitialspace=True,na_values="?",encoding="latin-1") 
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [66]:
from sklearn.model_selection import train_test_split
pokemon.drop("#",axis=1,inplace=True)

In [67]:
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [68]:
pokemon.isnull().sum()

Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [69]:
pokemon["Type 2"]=pokemon["Type 2"].fillna(pokemon["Type 2"].mode()[0])

In [70]:
pokemon.isnull().sum()

Name          0
Type 1        0
Type 2        0
Total         0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

In [71]:
pokemon.drop(["Type 1","Type 2","Name"],axis=1,inplace=True)

In [72]:
X=pokemon.iloc[:,:-1]
Y=pokemon.iloc[:,-1]

In [73]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Total       800 non-null    int64
 1   HP          800 non-null    int64
 2   Attack      800 non-null    int64
 3   Defense     800 non-null    int64
 4   Sp. Atk     800 non-null    int64
 5   Sp. Def     800 non-null    int64
 6   Speed       800 non-null    int64
 7   Generation  800 non-null    int64
 8   Legendary   800 non-null    bool
dtypes: bool(1), int64(8)
memory usage: 50.9 KB

In [74]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,random_state=1,test_size=0.3)

In [75]:
#Model generation ----> Linear model--> Logistic Regresssion
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(xtrain,ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [76]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(ytrain,lr.predict(xtrain))

0.9571428571428572

In [77]:
accuracy_score(ytest,lr.predict(xtest))

0.9291666666666667

lr.predict(xtest)

(pd.DataFrame(lr.predict(xtest))).value_counts()