In [3]:
a=[]
print(type(a))
i=0
while i<5:
    a.append(int(input("enter the integer value")))
    print(a[i])
    i=i+1
print(a)

<class 'list'>
enter the integer value25
25
enter the integer value+4
4
enter the integer value24
24
enter the integer value574
574
enter the integer value45
45
[25, 4, 24, 574, 45]

In [2]:
a=[]
print(type(a))
i=0
while i<5:
    a.append(int(input('enter the value')))
    print(a[i])
    i=i+1

<class 'list'>
enter the value20
20
enter the value30
30
enter the value40
40
enter the value50
50
enter the value60
60

In [3]:
a=[]
print(type(a))
i=0
while i<5:                           # correct ans of the (assignment 3 loops)
    a.append(int(input('enter the value')))
    print(a[i])
    i=i+1
    
print(a)

<class 'list'>
enter the value25
25
enter the value30
30
enter the value35
35
enter the value40
40
enter the value73
73
[25, 30, 35, 40, 73]

In [ ]:
z=[]
print(type(z))
i=0
while i<5:
    z.append(int(input('enter the value')))
    print(z[i])
    i=i+1
print(z)
for elem in z:
    for i in range(2,elem):
        if elem%i==0:
            break
        else:
            print("prime no.",elem)

In [20]:
L2=list()
n=int(input("how many no. do you want in a list"))
i=0
while i<n:
    L2.append(int(input("enter the nos")))
    i+=1
print("List  first you entered",L2)
L3=list()
m=int(input("how many no. do you want in a list"))
i=0
while i<m:
    L3.append(int(input("enter the nos")))
    i+=1
print("List second you entered",L3)
L4=list()
for elem in L2:
    for elems in L3:
        if elem==elems:
            L4.append(elem)
        else:
            pass
print("the common elements are",L4)

how many no. do you want in a list10
enter the nos65461
enter the nos51616
enter the nos5216
enter the nos51616
enter the nos65166
enter the nos1919
enter the nos299
enter the nos9595
enter the nos549
enter the nos959
List  first you entered [65461, 51616, 5216, 51616, 65166, 1919, 299, 9595, 549, 959]
how many no. do you want in a list12
enter the nos959
enter the nos549
enter the nos299
enter the nos5549
enter the nos6569
enter the nos5894
enter the nos29519
enter the nos92519
enter the nos996
enter the nos819
enter the nos29526
enter the nos65126
List second you entered [959, 549, 299, 5549, 6569, 5894, 29519, 92519, 996, 819, 29526, 65126]
the common elements are [299, 549, 959]

In [22]:
tuple1=tuple((10,20,30))   #on initialising here we use double  ((  )) 
tuple2=tuple((40,50,60))
t_combine=tuple1+tuple2
print(t_combine)

(10, 20, 30, 40, 50, 60)

In [23]:
tuple3=(10,20,30)     # different in initialisation     here we use ( )
tuple4=(40,50,60)
T1=tuple3+tuple4
print(T1)

(10, 20, 30, 40, 50, 60)

In [24]:
print(T1[2])

30

In [25]:
tuple3=T1[0:3]
print(tuple3)

(10, 20, 30)

In [26]:
tuple4=T1[3:]

In [27]:
print(tuple4)

(40, 50, 60)

In [28]:
T1=(1,2,3)
T2=("a","b","c")
T3=(True, False)
mylist=list()
mylist.append(T1)
mylist

[(1, 2, 3)]

In [29]:
mylist.append(T2)
mylist.append(T3)
mylist

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [30]:
t4=(1,2,3,9,8,7,6,5,4)
mylist.update(t4)      # that means we cant use the updte because there is no attribute like that in List
mylist

AttributeError: 'list' object has no attribute 'update'