In [1]:
import pandas as pd
import numpy as np

In [3]:
a ={"Runs":[99,55,14],"Wickets":[5,2,4]}

In [6]:
data=pd.DataFrame(a)

In [7]:
data.shape

(3, 2)

In [8]:
df=pd.read_csv(r"‪D:\DOWNLOAD\unicorns-till-sep-2022.csv")

OSError: [Errno 22] Invalid argument: '\u202aD:\\DOWNLOAD\\unicorns-till-sep-2022.csv'

In [9]:
df=pd.read_csv("‪D:\DOWNLOAD\unicorns-till-sep-2022.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 21-22: truncated \uXXXX escape (1288194209.py, line 1)

In [13]:
df=pd.read_csv(r"‪D://DOWNLOAD//unicorns-till-sep-2022.csv")

OSError: [Errno 22] Invalid argument: '\u202aD://DOWNLOAD//unicorns-till-sep-2022.csv'

In [15]:
df=pd.read_csv("‪unicorns-till-sep-2022.csv")

FileNotFoundError: [Errno 2] No such file or directory: '\u202aunicorns-till-sep-2022.csv'

In [19]:
df=pd.read_csv("‪unicorns-till-sep-2022.csv")

FileNotFoundError: [Errno 2] No such file or directory: '\u202aunicorns-till-sep-2022.csv'

In [25]:
import pandas as pd
df=pd.read_csv("D:/DOWNLOAD/unicorns-till-sep-2022.csv")

In [26]:
df

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [27]:
df.isnull().sum()

Company            0
Valuation ($B)     0
Date Joined        0
Country            0
City               0
Industry           0
Investors         18
dtype: int64

In [28]:
df.isnull().sum().sum()

18

In [34]:
df["Investors"].mode()

0    Sequoia Capital
Name: Investors, dtype: object

In [35]:
df["Investors"].mode()[0]

'Sequoia Capital'

In [38]:
df["Investors"]=df["Investors"].fillna(df["Investors"].mode()[0])

In [39]:
df.isnull().sum()

Company           0
Valuation ($B)    0
Date Joined       0
Country           0
City              0
Industry          0
Investors         0
dtype: int64

In [29]:
#How many companies are there which become unicorns in 2017?

In [30]:
pd.DatetimeIndex(df["Date Joined"]).year==2017

array([ True, False, False, ..., False, False, False])

In [31]:
df[pd.DatetimeIndex(df["Date Joined"]).year==2017]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
13,BYJU's,$22,7/25/2017,India,Bengaluru,Edtech,"Tencent Holdings, Lightspeed India Partners, S..."
17,Yuanfudao,$15.50,5/31/2017,China,Beijing,Edtech,"Tencent Holdings, Warbug Pincus, IDG Capital"
31,JUUL Labs,$12,12/20/2017,United States,San Francisco,Consumer & retail,Tiger Global Management
50,reddit,$10,7/31/2017,United States,San Francisco,Internet software & services,"Y Combinator, Sequoia Capital, Coatue Management"
63,Niantic,$9,11/24/2017,United States,San Francisco,Mobile & telecommunications,"Nintendo, Google, Pokemon Company Internationa..."
134,United Imaging Healthcare,$5,9/15/2017,China,Shanghai,Health,"China Life Insurance, China Development Bank C..."
144,OakNorth Bank,$5,10/12/2017,United Kingdom,London,Fintech,"Clermont Group, Coltrane Asset Management, Tos..."
195,MEGVII,$4,10/31/2017,China,Beijing,Artificial intelligence,"Ant Financial Services Group, Russia-China Inv..."
206,Rubrik,$4,4/28/2017,United States,Palo Alto,Data management & analytics,"Greylock Partners, Lightspeed Venture Partners..."
240,Otto Bock HealthCare,$3.52,6/24/2017,Germany,Duderstadt,Health,EQT Partners
241,Indigo Ag,$3.50,9/26/2017,United States,Boston,Artificial intelligence,"Activant Capital Group, Alaska Permanent Fund,..."
285,Traveloka,$3,1/1/2017,Indonesia,Jakarta,Travel,"Global Founders Capital, East Ventures, Expedi..."
286,SouChe Holdings,$3,11/1/2017,China,Hangzhou,E-commerce & direct-to-consumer,"Morningside Ventures, Warburg Pincus, CreditEa..."
287,BGL Group,$3,11/24/2017,United Kingdom,Peterborough,Fintech,CPP Investment Board
352,Eat Just,$2.59,11/30/2017,United States,San Francisco,Consumer & retail,"Khosla Ventures, Horizons Ventures, Founders Fund"
354,Vista Global,$2.50,8/23/2017,United Arab Emirates,Dubai,Other,Rhone Capital
377,Cgtz,$2.41,2/21/2017,China,Hangzhou,Fintech,"Shunwei Capital Partners, China Media Group, G..."
440,Quora,$2,4/21/2017,United States,Mountain View,Internet software & services,"Y Combinator, Matrix Partners, Benchmark"
441,Improbable,$1,5/11/2017,United Kingdom,London,Other,"Andreessen Horowitz, SoftBank Group, Temasek H..."
513,InVision,$1.90,11/1/2017,United States,New York,Internet software & services,"FirstMark Capital, Tiger Global Management, IC..."
569,Afiniti,$1.60,4/14/2017,Bermuda,Hamilton,Artificial intelligence,GAM Holding
600,Ximalaya FM,$1.52,9/22/2017,China,Shanghai,Mobile & telecommunications,"China Creation Ventures, Sierra Ventures, Xing..."
609,DT Dream,$1.50,6/8/2017,China,Hangzhou,Data management & analytics,"Alibaba Group, China Everbright Investment Man..."
610,Changingedu,$1.50,10/30/2017,China,Shanghai,Edtech,"Trustbridge Partners, IDG Capital, Sequoia Cap..."
611,XiaoZhu,$1.50,11/1/2017,China,Beijing,Travel,"Morningside Ventures, Capital Today, JOY Capital"
683,Symphony,$1.40,5/16/2017,United States,New York,Fintech,"BNP Paribas, Goldman Sachs, Google"
684,Yidian Zixun,$1.40,10/17/2017,China,Beijing,Mobile & telecommunications,"Phoenix New Media, Tianjin Haihe Industry Fund"
728,HeartFlow,$1.30,12/4/2017,United States,Redwood City,Health,"BlueCross BlueShield Venture Partners, US Vent..."
761,Kuaikan Manhua,$1.25,12/1/2017,China,Beijing,Internet software & services,"Sequoia Capital China, CMC Capital Partners, T..."
773,BrewDog,$1.24,4/10/2017,United Kingdom,Aberdeen,Consumer & retail,"TSG Consumer Partners, Crowdcube"
829,Luoji Siwei,$1.18,7/20/2017,China,Beijing,Edtech,"Sequoia Capital China, Qiming Venture Partners..."
892,Rubicon,$1.07,8/25/2017,United States,Atlanta,Other,"Goldman Sachs, Leonardo DiCaprio, Promecap"
893,Radius Payment Solutions,$1.07,11/27/2017,United Kingdom,Crewe,Fintech,Inflexion Private Equity
933,Mobvoi,$1,4/6/2017,China,Beijing,Consumer & retail,"Sequoia Capital China, SIG Asia Investments, Z..."
934,Zhuan Zhuan,$1,4/18/2017,China,Beijing,E-commerce & direct-to-consumer,"58.com, Tencent Holdings"
935,Modernizing Medicine,$1,5/10/2017,United States,Boca Raton,Health,"Warburg Pincus, Summit Partners, Sands Capital"
936,Zhaogang,$1,6/29/2017,China,Shanghai,E-commerce & direct-to-consumer,"K2 Ventures, Matrix Partners China, IDG Capital"
937,DianRong,$1,8/2/2017,China,Shanghai,E-commerce & direct-to-consumer,"Standard Chartered, FinSight Ventures, Affirma..."
938,Cell C,$1,8/7/2017,South Africa,Midrand,Mobile & telecommunications,"Blue Label Telecoms, Net1 UEPS Technologies"
939,YH Global,$1,9/21/2017,China,Shenzhen,"Supply chain, logistics, & delivery","Co-Energy Finance, Grandland"
940,Revolution Precrafted,$1,10/23/2017,Philippines,Manila,Other,"K2 Global, 500 Startups"
941,WeLab,$1,11/8/2017,Hong Kong,Fintech,"Sequoia Capital China, ING, Alibaba Entreprene...",NaN
942,Maimai,$1,11/15/2017,China,Beijing,Mobile & telecommunications,"Morningside Venture Capital, IDG Capital, DCM ..."

In [32]:
(pd.DatetimeIndex(df["Date Joined"]).year==2017).sum()

44

In [40]:
df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [41]:
(pd.DatetimeIndex(df["Date Joined"]).year==2017).sum()

44

In [43]:
df["Year"]=(pd.DatetimeIndex(df["Date Joined"])).year
df.loc[df["Year"]==2017]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Year
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2017
13,BYJU's,$22,7/25/2017,India,Bengaluru,Edtech,"Tencent Holdings, Lightspeed India Partners, S...",2017
17,Yuanfudao,$15.50,5/31/2017,China,Beijing,Edtech,"Tencent Holdings, Warbug Pincus, IDG Capital",2017
31,JUUL Labs,$12,12/20/2017,United States,San Francisco,Consumer & retail,Tiger Global Management,2017
50,reddit,$10,7/31/2017,United States,San Francisco,Internet software & services,"Y Combinator, Sequoia Capital, Coatue Management",2017
63,Niantic,$9,11/24/2017,United States,San Francisco,Mobile & telecommunications,"Nintendo, Google, Pokemon Company Internationa...",2017
134,United Imaging Healthcare,$5,9/15/2017,China,Shanghai,Health,"China Life Insurance, China Development Bank C...",2017
144,OakNorth Bank,$5,10/12/2017,United Kingdom,London,Fintech,"Clermont Group, Coltrane Asset Management, Tos...",2017
195,MEGVII,$4,10/31/2017,China,Beijing,Artificial intelligence,"Ant Financial Services Group, Russia-China Inv...",2017
206,Rubrik,$4,4/28/2017,United States,Palo Alto,Data management & analytics,"Greylock Partners, Lightspeed Venture Partners...",2017
240,Otto Bock HealthCare,$3.52,6/24/2017,Germany,Duderstadt,Health,EQT Partners,2017
241,Indigo Ag,$3.50,9/26/2017,United States,Boston,Artificial intelligence,"Activant Capital Group, Alaska Permanent Fund,...",2017
285,Traveloka,$3,1/1/2017,Indonesia,Jakarta,Travel,"Global Founders Capital, East Ventures, Expedi...",2017
286,SouChe Holdings,$3,11/1/2017,China,Hangzhou,E-commerce & direct-to-consumer,"Morningside Ventures, Warburg Pincus, CreditEa...",2017
287,BGL Group,$3,11/24/2017,United Kingdom,Peterborough,Fintech,CPP Investment Board,2017
352,Eat Just,$2.59,11/30/2017,United States,San Francisco,Consumer & retail,"Khosla Ventures, Horizons Ventures, Founders Fund",2017
354,Vista Global,$2.50,8/23/2017,United Arab Emirates,Dubai,Other,Rhone Capital,2017
377,Cgtz,$2.41,2/21/2017,China,Hangzhou,Fintech,"Shunwei Capital Partners, China Media Group, G...",2017
440,Quora,$2,4/21/2017,United States,Mountain View,Internet software & services,"Y Combinator, Matrix Partners, Benchmark",2017
441,Improbable,$1,5/11/2017,United Kingdom,London,Other,"Andreessen Horowitz, SoftBank Group, Temasek H...",2017
513,InVision,$1.90,11/1/2017,United States,New York,Internet software & services,"FirstMark Capital, Tiger Global Management, IC...",2017
569,Afiniti,$1.60,4/14/2017,Bermuda,Hamilton,Artificial intelligence,GAM Holding,2017
600,Ximalaya FM,$1.52,9/22/2017,China,Shanghai,Mobile & telecommunications,"China Creation Ventures, Sierra Ventures, Xing...",2017
609,DT Dream,$1.50,6/8/2017,China,Hangzhou,Data management & analytics,"Alibaba Group, China Everbright Investment Man...",2017
610,Changingedu,$1.50,10/30/2017,China,Shanghai,Edtech,"Trustbridge Partners, IDG Capital, Sequoia Cap...",2017
611,XiaoZhu,$1.50,11/1/2017,China,Beijing,Travel,"Morningside Ventures, Capital Today, JOY Capital",2017
683,Symphony,$1.40,5/16/2017,United States,New York,Fintech,"BNP Paribas, Goldman Sachs, Google",2017
684,Yidian Zixun,$1.40,10/17/2017,China,Beijing,Mobile & telecommunications,"Phoenix New Media, Tianjin Haihe Industry Fund",2017
728,HeartFlow,$1.30,12/4/2017,United States,Redwood City,Health,"BlueCross BlueShield Venture Partners, US Vent...",2017
761,Kuaikan Manhua,$1.25,12/1/2017,China,Beijing,Internet software & services,"Sequoia Capital China, CMC Capital Partners, T...",2017
773,BrewDog,$1.24,4/10/2017,United Kingdom,Aberdeen,Consumer & retail,"TSG Consumer Partners, Crowdcube",2017
829,Luoji Siwei,$1.18,7/20/2017,China,Beijing,Edtech,"Sequoia Capital China, Qiming Venture Partners...",2017
892,Rubicon,$1.07,8/25/2017,United States,Atlanta,Other,"Goldman Sachs, Leonardo DiCaprio, Promecap",2017
893,Radius Payment Solutions,$1.07,11/27/2017,United Kingdom,Crewe,Fintech,Inflexion Private Equity,2017
933,Mobvoi,$1,4/6/2017,China,Beijing,Consumer & retail,"Sequoia Capital China, SIG Asia Investments, Z...",2017
934,Zhuan Zhuan,$1,4/18/2017,China,Beijing,E-commerce & direct-to-consumer,"58.com, Tencent Holdings",2017
935,Modernizing Medicine,$1,5/10/2017,United States,Boca Raton,Health,"Warburg Pincus, Summit Partners, Sands Capital",2017
936,Zhaogang,$1,6/29/2017,China,Shanghai,E-commerce & direct-to-consumer,"K2 Ventures, Matrix Partners China, IDG Capital",2017
937,DianRong,$1,8/2/2017,China,Shanghai,E-commerce & direct-to-consumer,"Standard Chartered, FinSight Ventures, Affirma...",2017
938,Cell C,$1,8/7/2017,South Africa,Midrand,Mobile & telecommunications,"Blue Label Telecoms, Net1 UEPS Technologies",2017
939,YH Global,$1,9/21/2017,China,Shenzhen,"Supply chain, logistics, & delivery","Co-Energy Finance, Grandland",2017
940,Revolution Precrafted,$1,10/23/2017,Philippines,Manila,Other,"K2 Global, 500 Startups",2017
941,WeLab,$1,11/8/2017,Hong Kong,Fintech,"Sequoia Capital China, ING, Alibaba Entreprene...",Sequoia Capital,2017
942,Maimai,$1,11/15/2017,China,Beijing,Mobile & telecommunications,"Morningside Venture Capital, IDG Capital, DCM ...",2017

In [44]:
df.loc[df["Year"]==2017].shape

(44, 8)

In [45]:
#How many companies from the United States had become unicorns in 2020?

In [48]:
e=df[(df["Country"]=="United States")&(df["Year"]==2020)]

In [49]:
e.shape

(67, 8)

In [50]:
#What are the min,max and mean valuation(In billion dollars) of the companies present in the dataset?

In [51]:
df

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Year
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2017
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",2018
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2014
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",2018
...,...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West...",2022
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu...",2022
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr...",2022
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective",2022
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels",2022

In [52]:
df["Valuation ($B)"].min()

'$1'

In [53]:
df["Valuation ($B)"].max()

'$95'

In [54]:
df["Valuation ($B)"].mean()    # since $ is there so it is throwing error

TypeError: Could not convert $140$127$100$95$40$40$39$38$33$31.50$32$27$25$22$20$20$17.50$15.50$15$15$15$15$15$14$13.50$13.30$13$13$12.60$12.59$12.30$12$12$12$12$12$12$11.80$11.70$11.40$11.25$11.10$11$10.20$10.88$10.70$10$10$10$10$10$10$10$10$10$10$9.50$9.50$9.28$9.23$9.20$9.08$9$9$9$8.75$8.70$8.60$8.60$8.60$8.50$8.50$8.50$8.40$8.30$8.30$8.10$8.10$8$8$8$8$7.83$7.60$7.75$7.50$7.50$7.50$7.40$7.30$7.25$7.25$7.25$7.10$7$7$7$6.80$6.80$6.70$6.60$6.51$6.50$6.50$7.50$6.40$6.30$6.28$6.20$6.10$6.10$6$6$6$6$5.20$5.99$5.78$5.77$5.70$5.70$5.70$5.70$5.70$5.70$5.60$5.60$5.60$5.36$5.25$5.25$5.10$5.10$5.05$5$5$5.50$5.50$5.48$5$5$5$5$5$5$5$5$5$5$5$5$5$5$5$5$5$4.90$4.80$4.80$4.80$4.73$4.70$4.70$4.70$4.60$5.85$4.60$4.60$4.60$4.58$4.53$4.50$4.50$4.50$4.58$4.50$4.50$4.50$4.40$4.40$4.40$4.30$4.30$4.20$4.25$4.20$4.20$4.20$4.15$4.10$4.11$4.10$4$4.01$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$4$3.92$3.80$3.80$3.80$3.80$3.75$3.75$3.70$3.70$3.70$3.70$3.70$3.70$3.70$3.70$3.70$3.66$3.60$3.60$3.60$3.60$3.60$3.52$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.50$3.44$3.40$3.40$3.35$3.35$3.35$3.34$3.31$3.30$3.30$3.30$3.30$3.30$3.25$3.24$3.21$3.20$3.20$3.20$3.20$3.20$3.20$3.20$3.20$3.20$3.15$3.10$3.10$3.10$3$3$3$3$3$3$3$3$3.20$3$3$3$3$3$3$3$3$3$3$3$3$3.10$3$3$3$3$3$3.30$3$3$3$3$3$3$3$3$2.92$2.92$2.90$2.90$2.85$2.85$2.85$2.85$2.80$2.80$2.77$2.75$2.75$2.75$2.74$3.95$2.70$2.70$2.70$2.70$2.70$2.66$2.60$2.62$2.60$2.60$2.60$2.60$2$2.62$2.60$2.55$2.59$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.68$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.50$2.45$2.45$2.45$2.44$2.41$2.41$2.41$2.40$2.40$2.40$2.40$2.40$2.40$2.40$2.40$2.40$2.62$2.62$2.35$2.35$2.34$2.32$2.31$2.30$2.85$2.30$2.30$2.30$2.30$2.27$2.25$2.25$2.25$2.20$2.20$2.20$2.20$2.20$2.20$2.20$2.20$2.20$2.20$2.19$2.19$2.18$2.17$2.17$2.17$2$2.15$2.15$2.10$2.10$2.10$2.10$2.10$2.10$2.10$2.10$2.10$2$2$2$2$2$2$2$1$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2.70$2.10$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$2$8$2$2$2$2$2$2$2$2$2$2.25$2$2$2$2$2$2$2$1.93$1.98$1.95$1.95$1.90$1.90$1.90$1.90$1.90$1.90$1.94$1.94$1.90$1.90$1.87$1.85$1.83$1.85$1.80$1.80$1.80$1.80$1.80$1.80$1.79$1.78$1.75$1.75$1.75$1.80$1.73$1.70$1.70$1.70$1.70$1.70$1.70$1.70$1.70$1.69$1.60$1.70$1.70$1.70$1.70$1.70$1.70$1.70$1.70$1.70$1.70$1.65$1.65$1.62$1.62$1.70$1.61$1.65$1.60$1.60$1.60$1.60$1.60$2.60$1.60$1.60$1.60$1.60$1.60$1.36$1.36$1.50$1.60$1.60$1.60$1.70$1.60$1.60$1.60$1.60$1.60$1.60$1.60$1.60$1.59$1.57$1.55$1.55$1.55$1.55$1.53$1.52$1.52$1.51$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$2$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.50$1.49$1.48$1.48$1.46$1.45$1.45$1.45$1.45$1.45$1.45$1.44$1.43$1.43$1.42$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.40$1.38$1.38$1.36$1.35$1.35$1.35$1.35$1.35$1.34$1.34$1.33$1.33$1.32$1.32$1.32$1.32$1.31$1.31$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.30$1.28$1.28$1.28$1.27$1.26$1.26$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.25$1.24$1.24$1.24$1.23$1.23$1.23$1.22$1.22$1.22$1.22$1.20$1.20$1.20$1.65$1.20$1.20$1.20$1.20$1.20$1.20$1$1.30$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.40$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.20$1.15$1.19$1.19$1.18$1.17$1.17$1.17$1.16$1.16$1.15$1.15$1.15$1.15$1.15$1.15$1.12$1.13$1.12$1.12$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.10$1.08$1.08$1.08$1.07$1.07$1.07$1.07$1.07$1.05$1.05$1.05$1.05$1.05$1.05$1.05$1.04$1.03$1.02$1.01$1.01$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$3$1$1$1$1$1$1$1$1$1.07$1.70$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1.50$1$1$1.10$1$1$1$1.73$1$1$1$1$1.05$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1.06$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1.20$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1.10$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1$1 to numeric

In [55]:
df.describe()

              Year
count  1186.000000
mean   2020.122260
std       1.984172
min    2007.000000
25%    2019.000000
50%    2021.000000
75%    2021.000000
max    2022.000000

In [56]:
df["Valuation ($B)"].describe()

count     1186
unique     222
top         $1
freq       271
Name: Valuation ($B), dtype: object

In [60]:
df["Valuation ($B)"]=df["Valuation ($B)"].replace("r\$","",regex=True)

In [61]:
df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Year
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2017
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",2018
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2014
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",2018

In [65]:
df["Valuation ($B)"]=df["Valuation ($B)"].replace("r\$","",regex=True)

In [64]:
df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Year
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2017
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",2018
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2014
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",2018

In [66]:
df["Valuation ($B)"]=df["Valuation ($B)"].replace({"r\$":""},regex=True)

In [67]:
df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Year
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2017
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",2018
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2014
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",2018

In [68]:
df["Valuation ($B)"]=df["Valuation ($B)"].replace({"r\$":""},regex=True).astype(float)
df.head()

ValueError: could not convert string to float: '$140'

In [123]:
df["Valuation ($B)"].replace({"r\\$",""},regex=True)

0       $140
1       $127
2       $100
3        $95
4        $40
        ...
1181      $1
1182      $1
1183      $1
1184      $1
1185      $1
Name: Valuation ($B), Length: 1186, dtype: object

In [131]:
df["Valuation ($B)"].replace(r"\$","",regex=True)

0       140
1       127
2       100
3        95
4        40
       ...
1181      1
1182      1
1183      1
1184      1
1185      1
Name: Valuation ($B), Length: 1186, dtype: object

In [132]:
df["Valuation ($B)"]=df["Valuation ($B)"].replace(r"\$","",regex=True)
df["Valuation ($B)"].head()

0    140
1    127
2    100
3     95
4     40
Name: Valuation ($B), dtype: object

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         1186 non-null   object
 1   Valuation ($B)  1186 non-null   object
 2   Date Joined     1186 non-null   object
 3   Country         1186 non-null   object
 4   City            1186 non-null   object
 5   Industry        1186 non-null   object
 6   Investors       1186 non-null   object
 7   Year            1186 non-null   int64
dtypes: int64(1), object(7)
memory usage: 74.2+ KB

In [146]:
#since the df["Valuation ($B)"] is object we have to change it to the float or int 
df["Valuation ($B)"]=df["Valuation ($B)"].astype(float)

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         1186 non-null   object
 1   Valuation ($B)  1186 non-null   float64
 2   Date Joined     1186 non-null   object
 3   Country         1186 non-null   object
 4   City            1186 non-null   object
 5   Industry        1186 non-null   object
 6   Investors       1186 non-null   object
 7   Year            1186 non-null   int64
dtypes: float64(1), int64(1), object(6)
memory usage: 74.2+ KB

In [148]:
#How many companies belong to the fintech industry?

In [149]:
df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Year
0,ByteDance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2017
1,SpaceX,127.0,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012
2,SHEIN,100.0,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",2018
3,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2014
4,Canva,40.0,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",2018

In [150]:
(df["Industry"]=="Fintech").sum()

239

In [151]:
#How many companies are from China?

In [152]:
(df["Country"]=="China").sum()

174

In [153]:
#how many Unicorns does India have??

In [154]:
df[df["Country"]=="China"]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Year
0,ByteDance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2017
2,SHEIN,100.0,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",2018
14,Xiaohongshu,20.0,3/31/2016,China,Shanghai,E-commerce & direct-to-consumer,"GGV Capital, ZhenFund, Tencent",2016
17,Yuanfudao,15.5,5/31/2017,China,Beijing,Edtech,"Tencent Holdings, Warbug Pincus, IDG Capital",2017
18,DJI Innovations,15.0,1/23/2015,China,Shenzhen,Hardware,"Accel Partners, Sequoia Capital",2015
...,...,...,...,...,...,...,...,...
1076,HAYDON,1.0,9/24/2021,China,Shanghai,Consumer & retail,"Tencent Holdings, Hillhouse Capital Management",2021
1094,Moka,1.0,11/2/2021,China,Beijing,Internet software & services,"GGV Capital, GSR Ventures, FreesFund",2021
1095,Tezign,1.0,11/2/2021,China,Shanghai,Internet software & services,"Sequoia Capital China, Linear Venture, Hearst ...",2021
1103,Gaussian Robotics,1.1,11/10/2021,China,Shanghai,Hardware,"BlueRun Ventures, Grand Flight Investment, Mei...",2021
1126,Haomao.AI,1.0,12/22/2021,China,Beijing,Artificial Intelligence,"Qualcomm Ventures, Nine Intelligence Capital, ...",2021

In [155]:
df["Country"].value_counts()

United States           636
China                   174
India                    70
United Kingdom           46
Germany                  29
France                   24
Israel                   22
Canada                   19
Brazil                   17
South Korea              17
Singapore                13
Sweden                    8
Mexico                    8
Australia                 8
Indonesia                 7
Netherlands               7
Hong Kong                 7
Ireland                   6
Japan                     6
Switzerland               6
Norway                    5
Finland                   4
Spain                     4
Turkey                    3
Colombia                  3
Belgium                   3
United Arab Emirates      3
Austria                   2
Lithuania                 2
Vietnam                   2
Thailand                  2
Estonia                   2
Chile                     2
Denmark                   2
Philippines               2
Croatia                   2
South Africa              2
Czech Republic            1
Bermuda                   1
Ecuador                   1
Luxembourg                1
Malaysia                  1
Senegal                   1
Nigeria                   1
Bahamas                   1
Argentina                 1
Seychelles                1
Italy                     1
Name: Country, dtype: int64

In [156]:
#Which is the fourth largest company by valuation?

In [157]:
df.nlargest(4,"Valuation ($B)")

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Year
0,ByteDance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2017
1,SpaceX,127.0,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012
2,SHEIN,100.0,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",2018
3,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2014

In [158]:
df.nlargest(4,"Valuation ($B)")

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Year
0,ByteDance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2017
1,SpaceX,127.0,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012
2,SHEIN,100.0,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",2018
3,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2014

In [159]:
df.groupby("Company")["Valuation ($B)"].sum()

Company
0x                  1.05
1047 Games          1.50
1KMXC               1.00
1Password           6.80
4Paradigm           2.00
                   ...
reddit             10.00
solarisBank         1.65
stori               1.20
thatgamecompany     1.94
wefox               4.50
Name: Valuation ($B), Length: 1183, dtype: float64

In [160]:
(df.groupby("Company")["Valuation ($B)"].sum()).sort_values(ascending=False)

Company
ByteDance        140.0
SpaceX           127.0
SHEIN            100.0
Stripe            95.0
Canva             40.0
                 ...
Flash Express      1.0
Tresata            1.0
TrialSpark         1.0
Fiture             1.0
Orchard            1.0
Name: Valuation ($B), Length: 1183, dtype: float64

In [161]:
(df.nlargest(4,"Valuation ($B)")).tail(1)

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Year
3,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2014

In [162]:
#How many unicorns does India have?

In [163]:
df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Year
0,ByteDance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2017
1,SpaceX,127.0,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012
2,SHEIN,100.0,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",2018
3,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2014
4,Canva,40.0,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",2018

In [164]:
df["Country"]=="India"

0       False
1       False
2       False
3       False
4       False
        ...
1181     True
1182    False
1183    False
1184    False
1185    False
Name: Country, Length: 1186, dtype: bool

In [165]:
(df["Country"]=="India").sum()

70

In [166]:
df[df["Country"]=="India"].value_counts().sum()

70

In [167]:
[df["Country"]=="India"].value_counts()

AttributeError: 'list' object has no attribute 'value_counts'

In [168]:
(df["Country"]=="India").value_counts()

False    1116
True       70
Name: Country, dtype: int64

In [169]:
df["Country"].value_counts()

United States           636
China                   174
India                    70
United Kingdom           46
Germany                  29
France                   24
Israel                   22
Canada                   19
Brazil                   17
South Korea              17
Singapore                13
Sweden                    8
Mexico                    8
Australia                 8
Indonesia                 7
Netherlands               7
Hong Kong                 7
Ireland                   6
Japan                     6
Switzerland               6
Norway                    5
Finland                   4
Spain                     4
Turkey                    3
Colombia                  3
Belgium                   3
United Arab Emirates      3
Austria                   2
Lithuania                 2
Vietnam                   2
Thailand                  2
Estonia                   2
Chile                     2
Denmark                   2
Philippines               2
Croatia                   2
South Africa              2
Czech Republic            1
Bermuda                   1
Ecuador                   1
Luxembourg                1
Malaysia                  1
Senegal                   1
Nigeria                   1
Bahamas                   1
Argentina                 1
Seychelles                1
Italy                     1
Name: Country, dtype: int64

In [170]:
#How many Indian startups will become unicorns in 2022?

In [171]:
pd.DatetimeIndex(df["Country"]=="India" & (df["Year"]==2022))

TypeError: Cannot perform 'rand_' with a dtyped [bool] array and scalar of type [bool]

In [172]:
df[df["Country"]=="India"]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Year
13,BYJU's,22.0,7/25/2017,India,Bengaluru,Edtech,"Tencent Holdings, Lightspeed India Partners, S...",2017
45,Swiggy,10.7,6/21/2018,India,Bengaluru,"Supply chain, logistics, & delivery","Accel India, SAIF Partners, Norwest Venture Pa...",2018
64,OYO Rooms,9.0,9/25/2018,India,Gurugram,Travel,"SoftBank Group, Sequoia Capital India,Lightspe...",2018
78,Dream11,8.0,4/9/2019,India,Mumbai,Internet software & services,"Kaalari Capital, Tencent Holdings, Steadview C...",2019
86,Razorpay,7.5,10/11/2020,India,Bengaluru,Fintech,"Sequoia Capital India, Tiger Global Management...",2020
...,...,...,...,...,...,...,...,...
1134,Darwinbox,1.0,1/25/2022,India,Hyderabad,Internet software & services,"Lightspeed India Partners, Sequoia Capital Ind...",2022
1145,Hasura,1.0,2/22/2022,India,Bengaluru,Internet software & services,"Nexus Venture Partners, Vertex Ventures, STRIVE",2022
1154,Amagi,1.0,3/16/2022,India,Bengaluru,Internet software & services,"Mayfield, Accel, Norwest Venture Partners",2022
1171,Open,1.0,5/2/2022,India,Bengaluru,Fintech,"3one4 Capital Partners, Tiger Global Managemen...",2022
1181,LeadSquared,1.0,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West...",2022

In [173]:
df1=df[df["Country"]=="India"]

In [174]:
pd.DatetimeIndex(df["Date Joined"]).year==2022

array([False, False, False, ...,  True,  True,  True])

In [175]:
(pd.DatetimeIndex(df["Date Joined"]).year==2022).sum()

228

In [176]:
df1=df[df["Country"]=="India"]
(pd.DatetimeIndex(df1["Date Joined"]).year==2022).sum()

17

In [177]:
df[(df["Country"]=="India") & (df["Year"]==2022)]

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Year
369,Games24x7,2.5,3/30/2022,India,Mumbai,Internet software & services,"Tiger Global Management, The Raine Group, Mala...",2022
564,DealShare,1.7,1/27/2022,India,Bengaluru,E-commerce & direct-to-consumer,"Alpha Wave Global, Matrix Partners India, Tige...",2022
651,ElasticRun,1.5,2/7/2022,India,Pune,"Supply chain, logistics, & delivery","Kalaari Capital, Norwest Venture Partners, Pro...",2022
699,OneCard,1.4,7/13/2022,India,Pune,Fintech,"Sequoia Capital India, Hummingbird Ventures, M...",2022
729,Shiprocket,1.3,8/16/2022,India,New Delhi,Internet,"Bertelsmann India Investments, March Capital P...",2022
747,CredAvenue,1.3,3/7/2022,India,Chennai,Fintech,"Insight Partners, B Capital Group, \tLightspee...",2022
818,LivSpace,1.2,2/8/2022,India,Bengaluru,E-commerce & direct-to-consumer,"Jungle Ventures, Helion Venture Partners, INGK...",2022
819,Xpressbees,1.2,2/9/2022,India,Pune,"Supply chain, logistics, & delivery","Norwest Venture Partners, Investcorp, Blackstone",2022
875,LEAD School,1.1,1/13/2022,India,Andheri,Edtech,"WestBridge Capital, GSV Ventures, Elevar Equity",2022
884,PhysicsWallah,1.1,6/7/2022,India,Uttar Pradesh,Edtech,"GSV Ventures, WestBridge Capital",2022
886,Purplle,1.1,6/9/2022,India,Mumbai,E-commerce & direct-to-consumer,"Blume Ventures, JSW Ventures, IvyCap Ventures",2022
1130,Fractal Analytics,1.0,1/5/2022,India,Mumbai,Data management & analytics,"TPG Capital, Apax Partners, TA Associates",2022
1134,Darwinbox,1.0,1/25/2022,India,Hyderabad,Internet software & services,"Lightspeed India Partners, Sequoia Capital Ind...",2022
1145,Hasura,1.0,2/22/2022,India,Bengaluru,Internet software & services,"Nexus Venture Partners, Vertex Ventures, STRIVE",2022
1154,Amagi,1.0,3/16/2022,India,Bengaluru,Internet software & services,"Mayfield, Accel, Norwest Venture Partners",2022
1171,Open,1.0,5/2/2022,India,Bengaluru,Fintech,"3one4 Capital Partners, Tiger Global Managemen...",2022
1181,LeadSquared,1.0,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West...",2022

In [178]:
df[(df["Country"]=="India") & (df["Year"]==2022)].shape

(17, 8)