In [1]:
a="  Hello World I am here to practise python  "       # strip will remove the spaces in start and the end of the a string 
print(a.strip())

Hello World I am here to practise python

In [2]:
a="  Hello World I am here to practise python  "
print(a.replace("e","m"))

  Hmllo World I am hmrm to practism python

In [3]:
for elem in a:
    print(elem)

H
e
l
l
o

W
o
r
l
d

I

a
m

h
e
r
e

t
o

p
r
a
c
t
i
s
e

p
y
t
h
o
n

In [4]:
a="  Hello World I am here to practise python  "
print(a.upper())      # Upper turns the whole a string in the capital letters

  HELLO WORLD I AM HERE TO PRACTISE PYTHON

In [5]:
a.lower()      #we cant write like that we have to store  the data in some variable otherwise it through errors because string is not mutable
print(a)

  Hello World I am here to practise python

In [6]:
b=a.lower()
print(b)

  hello world i am here to practise python

In [9]:
# to split the string from the desired place
print(a.split("e"))

['  H', 'llo World I am h', 'r', ' to practis', ' python  ']

In [10]:
print(a.split(" "))      # here a single space is given b/w the " " so that split takes place from the space

['', '', 'Hello', 'World', 'I', 'am', 'here', 'to', 'practise', 'python', '', '']

In [11]:
a

'  Hello World I am here to practise python  '

In [13]:
C="Hello World I am here to practise python"
for elem in C:
    if elem!="d":
        print(elem)
    else:
        break

H
e
l
l
o

W
o
r
l

In [14]:
d="Hello World I am here to practise python"    # use of  if  and  as well as  of conditional operators( in and not in)
if "m" in d:
    print("yes i am here")

yes i am here

In [15]:
d="Hello World I am here to practise python"
if m in d:                                              # so if there is string we have to write elements in " " otherwise it will through an error
    print("yes i am here")

NameError: name 'm' is not defined

In [16]:
#Slicing of the string
D="Hello World I am here to practise python"
d=D[:25]                                # this is called slicin0g
print(d)

Hello World I am here to

In [19]:
D="Hello World I am here to practise python"
# int is the last element of the string is deleted
d=D[:-1]                      #[start: end :jump]   start is inclusive but the end is exclusive
print(d)

Hello World I am here to practise pytho

In [20]:
#reversing the string  using slicing techinque
D="Hello World I am here to practise python"
d=D[::-1]
print(d)

nohtyp esitcarp ot ereh ma I dlroW olleH

In [21]:
D="Hello World I am here to practise python"
print(D[5::2])               # it will start from the 5th and goes up to the end by jumping by 2 steps

 ol  mhr opats yhn

In [22]:
D="Hello World I am here to practise python"
d= D.remove("here")                                  # cant remove anything in the string 
print(d)

AttributeError: 'str' object has no attribute 'remove'

In [23]:
D="Hello World I am here to practise python"
print("i am learning python as well as "+D)     # only string can be concatenate using the sign + if ther is int and then add string then it will through an errror

i am learning python as well as Hello World I am here to practise python

In [26]:
# joining of the strings
a="vikas"
b=" i am a bad boy"
", ".join([a,b])

'vikas,  i am a bad boy'

In [28]:
a="vikas"
b="i am a bad boy"
" ".join([a,b])                # see differnce they are join using the comma in the upper one and in this it is join as shown

'vikas i am a bad boy'

In [30]:
a="vikas"
b=" i am a bad boy"
print(a+""+b)

vikas i am a bad boy

In [31]:
#format() takes unlimited no of the arguments 
d=10
e=52.002
f="string"                                                                 # how to use the format( ) with no. of arguments
D="Hello World I am{} here to{}practise {}python"
print(D.format(d,e,f))

Hello World I am10 here to52.002practise stringpython

In [33]:
d=10
e=52.002
f="string"                                                                 
D="Hello World I am{} here to{}practise {}python"
E=D.format(e,f,d)                                                      # by changing using format store the string in another variable and after that you can print
print(E)

Hello World I am52.002 here tostringpractise 10python

In [36]:
# if we gave to highlight something with in the string then we have to use the escape charactes in our string
txt="we are so called the \"Viking\" from the kanpur on the earth"
print(txt)

we are so called the "Viking" from the kanpur on the earth

In [39]:
txt="we are so called the \\Viking from the kanpur on the earth"    # escape character ( \\ ) is use to insert the single \ in the same string 
print(txt)

we are so called the \Viking from the kanpur on the earth

In [40]:
txt="we are so called the \nVikingfrom the kanpur on the earth"
print(txt)                                                #escape character ( \n) is use to give new line after that

we are so called the
Vikingfrom the kanpur on the earth

In [41]:
txt="we are so called the \tVikingfrom the kanpur on the earth"    # \t give thetab to the string where it is inserted
print(txt)

we are so called the 	Vikingfrom the kanpur on the earth

In [45]:
txt="we are so called the \r Vikingfrom the kanpur on the earth"                #\r known as carriage return and return the string after where the escape character is used
print(txt)

 Vikingfrom the kanpur on the earth

In [47]:
txt="we are so called the \f Vikingfrom the kanpur on the earth"
print(txt)

we are so called the  Vikingfrom the kanpur on the earth

In [48]:
txt="we are so called the\bVikingfrom the kanpur on the earth"               # delete the i element just before where it is used
print(txt)

we are so called theVikingfrom the kanpur on the earth

In [49]:
txt="we are so called the \nVikingfrom the kanpur on the earth"
print(txt.capitalize())                            # capatilize the first character of the string and the rest remains the same

We are so called the
vikingfrom the kanpur on the earth

In [51]:
txt="we are so called the \nVikingfrom the kanpur on the earth"
print(txt.find("d"))                                 # find( ) throughs the index where the element or the whole word starts

15

In [53]:
txt="we are so called the \nVikingfrom the kanpur on the earth"
print(txt.find("viking"))                          # here you get that it is case senstive and there is diffence b\w the viking and Viking
# if it is not find in the string it will return a -1 and does not through any error

-1

In [54]:
txt="we are so called the \nVikingfrom the kanpur on the earth"
print(txt.find("Viking"))                          # it will through a index of the first letter of the world where it is present

22

In [57]:
txt="we are so called the \nVikingfrom the kanpur on the earth"
print(txt.endswith("arth"))                                # endswith return True or False if in this case the setence is end with the 'arth'

True

In [58]:
txt="we are so called the \nVikingfrom the kanpur on the earth"
print(txt.swapcase())                                        # convert the lower case to upper and vice versa

WE ARE SO CALLED THE
vIKINGFROM THE KANPUR ON THE EARTH

# list

In [59]:
#deifing the list by two types
mylist=['apple','banana','cherry']
mylist1=list()                                       # list() it is called list constructor it is used for making the list
mylist

['apple', 'banana', 'cherry']

In [60]:
type(mylist1)

list

In [62]:
print(mylist*2)                     # multiplying th list or         in the list we can use the words multiple times that means the duplicate can exist there

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

In [63]:
mylist

['apple', 'banana', 'cherry']

In [64]:
mylist.append("lichi")
mylist

['apple', 'banana', 'cherry', 'lichi']

In [67]:
mylist

['apple', 'banana', 'cherry', 'lichi']

In [68]:
mylist.pop()

'lichi'

In [69]:
mylist.remove("banana")

In [70]:
mylist

['apple', 'cherry']

In [71]:
mylist=['cherry','lichi','apple','orange','watermelon','grapes','apple']

In [72]:
mylist=['cherry','lichi','apple','orange','watermelon','grapes','apple']
for elem in mylist:
    print(elem)

cherry
lichi
apple
orange
watermelon
grapes
apple

In [73]:
# find through indexing 
mylist=['cherry','lichi','apple','orange','watermelon','grapes','apple']
mylist[-1]

'apple'

In [74]:
mylist[:-1]                   # reomve the last element in the list

['cherry', 'lichi', 'apple', 'orange', 'watermelon', 'grapes']

In [75]:
mylist

['cherry', 'lichi', 'apple', 'orange', 'watermelon', 'grapes', 'apple']

In [76]:
mylist[::-1]          #Reverse the list

['apple', 'grapes', 'watermelon', 'orange', 'apple', 'lichi', 'cherry']

In [77]:
mylist[::2]      #in indexing it jump by 2 and the print the 2nd one by jumping

['cherry', 'apple', 'watermelon', 'apple']

In [78]:
mylist=['cherry','lichi','apple','orange','watermelon','grapes','apple']
print(mylist[1:4])

['lichi', 'apple', 'orange']

In [79]:
mylist=['cherry','lichi','apple','orange','watermelon','grapes','apple']
print(mylist[1:6])

['lichi', 'apple', 'orange', 'watermelon', 'grapes']

In [88]:
# change the item in the list         # addding in between using indexing
mylist=['cherry','lichi','apple','orange','watermelon','grapes','apple']
mylist[1]='Pear'
print(mylist)
mylist[2:4]=["pomegranate","pineapple"]
print(mylist)

['cherry', 'Pear', 'apple', 'orange', 'watermelon', 'grapes', 'apple']
['cherry', 'Pear', 'pomegranate', 'pineapple', 'watermelon', 'grapes', 'apple']

In [89]:
mylist.remove("apple")                   # remove both the apples from the list
mylist

['cherry', 'Pear', 'pomegranate', 'pineapple', 'watermelon', 'grapes']

In [90]:
mylist.pop()                                   # remove the last element
mylist

['cherry', 'Pear', 'pomegranate', 'pineapple', 'watermelon']

In [91]:
mylist

['cherry', 'Pear', 'pomegranate', 'pineapple', 'watermelon']

In [92]:
#replacing the 2nd and 3rd elemts by a single element
mylist[1:3] = ["guava"]                                                               # 1 means 2nd element and 2 means 3rd element and the 3 is not included in indexing 
mylist                                                  #two elements are replace by one

['cherry', 'guava', 'pineapple', 'watermelon']

In [93]:
# similarly if have to insert something at any place can also be inserted 
print(mylist)
mylist.insert(2,"avacado")
mylist

['cherry', 'guava', 'pineapple', 'watermelon']

['cherry', 'guava', 'avacado', 'pineapple', 'watermelon']

In [95]:
mylist.append("vikas")
mylist

['cherry', 'guava', 'avacado', 'pineapple', 'watermelon', 'vikas', 'vikas']

In [96]:
mylist.pop()

'vikas'

In [97]:
mylist

['cherry', 'guava', 'avacado', 'pineapple', 'watermelon', 'vikas']

In [99]:
# add tuple to the list
mylist=['cherry', 'guava', 'avacado', 'pineapple', 'watermelon', 'vikas']
tuplee=("lemon","potato","spinach")
mylist.extend(tuplee)
mylist

['cherry',
 'guava',
 'avacado',
 'pineapple',
 'watermelon',
 'vikas',
 'lemon',
 'potato',
 'spinach']

In [100]:
mylist.clear()               #it will clear the list but the list remains 
mylist

[]

In [103]:
mylist22=['cherry', 'guava', 'avacado', 'pineapple', 'watermelon', 'vikas']
del mylist22                      # del is a keyword not a function so it is used before the list not after the list
mylist22                            # in output it is showing not defined that means that it is completely deleted and no proof of its existence left

NameError: name 'mylist22' is not defined

In [104]:
mlist=['cherry', 'guava', 'avacado', 'pineapple', 'watermelon', 'vikas']
for x in range(len(mlist)):                # here len define the range thatswhy elements of list arenot printed
    print(x)

0
1
2
3
4
5

In [105]:
mlist=['cherry', 'guava', 'avacado', 'pineapple', 'watermelon', 'vikas']
for x in range(len(mlist)):
    print(mlist[x])                               # so in print we have to put x in index so that particular indices elements are printed

cherry
guava
avacado
pineapple
watermelon
vikas

In [106]:
mlist=['cherry', 'guava', 'avacado', 'pineapple', 'watermelon', 'vikas']
for x in mlist:
    print(x)                                           # this is how simplily we get the elements of the list

cherry
guava
avacado
pineapple
watermelon
vikas

In [118]:
mylist=['cherry', 'guava', 'avacado', 'pineapple', 'watermelon', 'vikas']

i=0
while i< len(mylist):
    print(mylist[i])
    i=i+1

cherry
guava
avacado
pineapple
watermelon
vikas

In [122]:
mylist=['cherry', 'guava', 'avacado', 'pineapple', 'watermelon', 'vikas']
[print(x) for x in mylist]

cherry
guava
avacado
pineapple
watermelon
vikas

[None, None, None, None, None, None]

In [123]:
newlist=[x for x in range(10) if x<6]                          #list comprehesion

In [124]:
newlist

[0, 1, 2, 3, 4, 5]

In [128]:
mylist=['cherry', 'guava', 'avacado', 'pineapple', 'watermelon', 'vikas']
new=[x.upper() for x in mylist]
print(new)

['CHERRY', 'GUAVA', 'AVACADO', 'PINEAPPLE', 'WATERMELON', 'VIKAS']

In [130]:
new=[x.capitalize() for x in mylist]
print(new)

['Cherry', 'Guava', 'Avacado', 'Pineapple', 'Watermelon', 'Vikas']

In [131]:
print(new.swapcase())                              # dont have swapcase function

AttributeError: 'list' object has no attribute 'swapcase'

In [133]:
print(new)
new.sort()
print(new)

['Avacado', 'Cherry', 'Guava', 'Pineapple', 'Vikas', 'Watermelon']
['Avacado', 'Cherry', 'Guava', 'Pineapple', 'Vikas', 'Watermelon']

In [134]:
a=[111,564,64,7481,48,4,4,4811584,84,1,548,8,14,88,1,48]
a.sort()
print(a)

[1, 1, 4, 4, 8, 14, 48, 48, 64, 84, 88, 111, 548, 564, 7481, 4811584]

In [136]:
a=[111,564,64,7481,48,4,4,4811584,84,1,548,8,14,88,1,48,549,7,84,9849,894,94,87,94,16,169,2,4984,6,89]
a.sort()
print(a)

[1, 1, 2, 4, 4, 6, 7, 8, 14, 16, 48, 48, 64, 84, 84, 87, 88, 89, 94, 94, 111, 169, 548, 549, 564, 894, 4984, 7481, 9849, 4811584]

In [137]:
# if we print above as "(print(a.sort())"   it will return the None in the output

In [138]:
a

[1,
 1,
 2,
 4,
 4,
 6,
 7,
 8,
 14,
 16,
 48,
 48,
 64,
 84,
 84,
 87,
 88,
 89,
 94,
 94,
 111,
 169,
 548,
 549,
 564,
 894,
 4984,
 7481,
 9849,
 4811584]

In [139]:
a.sort(reverse=True)                 #reverse the list in the opposrite direction or can be said that in the reverse or decending order
print(a)

[4811584, 9849, 7481, 4984, 894, 564, 549, 548, 169, 111, 94, 94, 89, 88, 87, 84, 84, 64, 48, 48, 16, 14, 8, 7, 6, 4, 4, 2, 1, 1]

In [140]:
#another way of sorting in reverse order


list3=['CHERRY', 'GUAVA', 'AVACADO', 'PINEAPPLE', 'WATERMELON', 'VIKAS']
list3.sort()
list3.reverse()                       # first it is sort after that it is reverse 
print(list3)

['WATERMELON', 'VIKAS', 'PINEAPPLE', 'GUAVA', 'CHERRY', 'AVACADO']

In [1]:
# to copy there are two ways to copy

In [2]:
l=[58,63,41,54,24,87,94,65,34,15]
mylist=list(l)                                               #that is the 1st way
mylist

[58, 63, 41, 54, 24, 87, 94, 65, 34, 15]

In [3]:
l.append(8)
print (l)

[58, 63, 41, 54, 24, 87, 94, 65, 34, 15, 8]

In [4]:
mylist

[58, 63, 41, 54, 24, 87, 94, 65, 34, 15]

In [5]:
# 2nd way is using copying

In [6]:
vikas=l.copy()

In [7]:
l

[58, 63, 41, 54, 24, 87, 94, 65, 34, 15, 8]

In [11]:
l.remove(94)
l

[58, 63, 41, 54, 24, 87, 65, 34, 15, 8]

In [12]:
vikas

[58, 63, 41, 54, 24, 87, 94, 65, 34, 15, 8]

In [13]:
# that means that the .copy and the mylist=list() asssign works as same the change you made in the l doesnot appears in the mylist as well as in vikas  so its a true copy

In [14]:
## Adding two list or can be said that concatenating

In [15]:
vikasl=vikas+l                                 # first way to add
vikasl

[58,
 63,
 41,
 54,
 24,
 87,
 94,
 65,
 34,
 15,
 8,
 58,
 63,
 41,
 54,
 24,
 87,
 65,
 34,
 15,
 8]

In [16]:
print(l)
print(vikas)

[58, 63, 41, 54, 24, 87, 65, 34, 15, 8]
[58, 63, 41, 54, 24, 87, 94, 65, 34, 15, 8]

In [17]:
for elem in l:                                       # 2nd way to add
    vikas.append(elem)
print(vikas)

[58, 63, 41, 54, 24, 87, 94, 65, 34, 15, 8, 58, 63, 41, 54, 24, 87, 65, 34, 15, 8]

In [18]:
l

[58, 63, 41, 54, 24, 87, 65, 34, 15, 8]

In [19]:
vikas

[58,
 63,
 41,
 54,
 24,
 87,
 94,
 65,
 34,
 15,
 8,
 58,
 63,
 41,
 54,
 24,
 87,
 65,
 34,
 15,
 8]

In [21]:
l.extend(vikas)
l

[58,
 63,
 41,
 54,
 24,
 87,
 65,
 34,
 15,
 8,
 58,
 63,
 41,
 54,
 24,
 87,
 94,
 65,
 34,
 15,
 8,
 58,
 63,
 41,
 54,
 24,
 87,
 65,
 34,
 15,
 8]

# lambda functions

In [23]:
def multiply(a,b)
    x=lambda a,b:a*b   
    print(x)
multiply(56,54)      #cant call like that it will through an error

SyntaxError: invalid syntax (746232877.py, line 1)

In [25]:
#Multiplication through lambda and see how it is called
x=lambda a,b:a*b
print(x)
x(56,54)

<function <lambda> at 0x000000F302953E50>

3024

In [26]:
x(121,54)

6534

In [27]:
y=lambda x,y,z:x*y*z
y(54,5156,56)                       # it is something like calling to lambda

15591744

In [28]:
print(y(156,56,656))                   # can directly print through

5730816

In [31]:
def func(n):
    return lambda a:a*n
double=func(2)
print(double(11))

22

In [33]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(1312))
print(mytripler(11))

2624
33