In [1]:
'''Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n   '''

'Q1. Using Python script as a calculator\nCreate the variables n, r, p and assign them values 10, 5, and 100 respectively. Then\nevaluate the following expression in the Python console.\nùê¥ = ùëù (1 + ùëü/ 100)n   '

In [21]:
n=10
r=5
p=100
A=p*pow((1+r/100),n)
print('the value of A is =',A)

the value of A is = 162.8894626777442

In [22]:
'''Q2. In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
'''

'Q2. In a given string format operation, how will you print the given string.\nA = 10\nB = 20\nStr = "There are {} students in the class, with {} who play at least one sport."\n'

In [23]:
A=10
B=20
Str="There are {} students in the class, with {} who play at least one sport."
print(Str.format(B,A))

There are 20 students in the class, with 10 who play at least one sport.

In [24]:
A=10
B=20
print("str=There are {} students in the class, with {} who play at least one sport.".format(B,A))

str=There are 20 students in the class, with 10 who play at least one sport.

In [25]:
'''Q3. In a given sample string, How do you print a double quoted string in between a
regular
string using the escape character?'''
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.

'Q3. In a given sample string, How do you print a double quoted string in between a\nregular\nstring using the escape character?'

In [32]:
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

In [34]:
'''Q4.What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)
'''

'Q4.What will be the output of the following code?\nx = lambda a,b: a//b\nx(10,3)\n'

In [35]:
x=lambda a,b:a//b
x(10,3)

3

In [37]:
'''Q5. What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")'''

'Q5. What will be the output of the following code?\nA = 10\nB = 12\nprint("Smaller") if A == B else print("Greater") if A < B else print("True")'

In [38]:
A=10
B=12
print('smaller') if A==B else print('Greater') if A<B else print ('True')

Greater

In [39]:
'''Q6. What will be the output of the following code?
 import os 
 import  numpy as np
 my_list=[2,7,3,5,4,6]
 print(my_list)
 arr_1=numpy.array(my_list1,dtype=int)
 print(arr_1)'''

'Q6. What will be the output of the following code?\n import os \n import  numpy as np\n my_list=[2,7,3,5,4,6]\n print(my_list)\n arr_1=numpy.array(my_list1,dtype=int)\n print(arr_1)'

In [42]:
import os 
import numpy as np
my_list=[2,7,3,5,4,6]
print(my_list)
arr_1=numpy.array(my_list1,dtype=int)
print(arr_1)

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

In [ ]:
'''Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
is/are appropriate to slice the substring ‚ÄúLearn‚Äù?'''

In [43]:
string='Machine Learning'
string[8:14]

'Learni'

In [46]:
string[8:13:1]

'Learn'

In [47]:
string[slice(8,13,1)]

'Learn'

In [ ]:
'''Q8.Create a sequence of numbers from 10 to 25 and increment by 4. What is the index
of the value 18?
'''

In [54]:
S=10,14,18,22
S.index(18)

2

In [ ]:
'''Q9. Which of the following is true with respect to the below codes?
num1 =5**4
num2=pow(5,4)
print (num1,num2)'''

In [56]:
num1 =5**4
num2=pow(5,4)
print (num1,num2)

625 625

In [ ]:
num1=num2

In [ ]:
'''Q10.A Python NameError exception is raised when:'''

In [ ]:
answer-->a. Trying to access a variable which has not been defined

In [57]:
'''Q11.What type of exception will be raised for the code given below?
x= "string"
int(x)'''

'Q11.What type of exception will be raised for the code given below?\nx= "string"\nint(x)'

In [58]:
x= "string"
int(x)

ValueError: invalid literal for int() with base 10: 'string'

In [ ]:
answer--> value error

In [ ]:
'''Q12.A FileNotFoundError exception is 
raised by operating system errors when: -'''

In [ ]:
answer-->b.      A file or directory is requested but does not exist
                in the working directory

In [ ]:
'''Q13.Consider a variable Z. The value 
of Z is "ID-5632". Data type of Z is: -'''

In [63]:
Z=ID-5632
print(type(Z))

NameError: name 'ID' is not defined

In [ ]:
answer--> a. Complex

In [ ]:
'''Q14.Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù
c. L= ‚Äú?‚Äù
d. All of the above
'''

In [ ]:
answer--> d

In [ ]:
'''Q15.Choose the symbol/s that does not have the ability
to convert any values to string?
a. ( )
b. ‚Äú ‚Äù
c. {}
d. #
'''

In [ ]:
answer--> d

In [ ]:
'''Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the
following countries to their capitals respectively
Country           India     China     Japan    Qatar    France
State             Delhi     Beijing   Tokyo    Doha     Marseilles
Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is'''

In [78]:
COUNTRIES={"Country":"States","India":"Delhi","China":"Beijing",
           "Japan":"Tokyo","Qatar":"Doha","France":"Marseilles"}

In [79]:
COUNTRIES

{'Country': 'States',
 'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Marseilles'}

In [80]:
COUNTRIES['France']="Paris"

In [81]:
COUNTRIES

{'Country': 'States',
 'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Paris'}

In [82]:
COUNTRIES["France"]="Mareilles"

In [83]:
COUNTRIES.update({"France":"Paris"})

In [84]:
COUNTRIES

{'Country': 'States',
 'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Paris'}

In [ ]:
'''Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.
a. sum(tuple_1)
b. len(tuple_2)
c. tuple_2 + tuple_1
d. tuple_1[3] = 45
'''

In [86]:
Tuple_1=(1,5,6,7,8)
Tuple_2=(8,9,4)
sum(Tuple_1)

27

In [87]:
len(Tuple_2)

3

In [88]:
Tuple_2 +Tuple_1

(8, 9, 4, 1, 5, 6, 7, 8)

In [89]:
Tuple_1[3]=45

TypeError: 'tuple' object does not support item assignment

In [ ]:
answer--> d

In [ ]:
'''Q18. How many elements in the following data structure?
S={1,2,3,4,4,4,5,6}'''

In [90]:
S={1,2,3,4,4,4,5,6}

In [91]:
S

{1, 2, 3, 4, 5, 6}

In [ ]:
answer--> 6

In [ ]:
'''Q19.Write a function which finds all pythagorean triplets of 
triangles whose sides are no greater than a natural number N'''

In [93]:
N=int(input("Enter upper limit:"))
c=0
m=2
while(c<N):
    for n in range(1,m+1):
        a=m*m-n*n
        b=2*m*n
        c=m*m+n*n
        if(c>N):
            break
        if(a==0 or b==0 or c==0):
            break
        print(a,b,c)
    m=m+1

Enter upper limit:20
3 4 5
8 6 10
5 12 13
15 8 17
12 16 20